<!-- Projects (projects/index) -->



<!-- List of All Songs -->

<div class="container">
    <div class="row" >
        <div class="all-songs-list">
            <div class="song-list">
                <div class="list-group">
                  <% @projects.each do |project| %>
                      <h4 class="list-group-item-heading"><%= link_to project.title, project %></h4>
                      <p class="list-group-item-text"></p>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Page Header -->

<h1 class="page-header">
    <i class="fa fa-star fa-3" style="color: white; font-size: 44px; padding-right: 15px"></i>
    Projects
    <i class="fa fa-star" style="color: white; font-size: 44px; padding-left: 15px"></i>
</h1>


<!-- Loop for Listing All Songs -->
<% @projects.each_with_index do |project, i| %>
    <div class="col-md-3 project-item">
        <%=link_to image_tag("http://placehold.it/700x400", :class => "img-responsive") %>
        <h3><%=link_to project.title, project %></h3>
        <p><%=project.notes%></p>
    </div>
<% end %>


        <hr>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->







<!-- Old layout -->


<a id="Projects"></a>

<div class="bio">
    <h1 class="bio-header">Projects</h1>
  </div>

<div id="portfoliolist">

  <h1 class="projects-header">Websites</h1>



<div class="portfolio logo" data-cat="logo">
<div class="portfolio-wrapper">
  <%= link_to image_tag("inspirez_800_460.jpg", :alt => "http://inspirez.herokuapp.com"), "http://inspirez.herokuapp.com", :target => "_blank" %>
  <div class="label">
    <div class="label-text">
      <a class="text-title">inspirez</a>
      <span class="text-category">Random inspirational quotes and YouTube videos.</span>
    </div>
    <div class="label-bg"></div>
  </div>
</div>
</div>




<div class="portfolio logo" data-cat="logo">
<div class="portfolio-wrapper">
  <%= link_to image_tag("sl.jpg"), "http://melzhang.herokuapp.com/", :target => "http://melzhang.herokuapp.com/" %>
  <div class="label">
    <div class="label-text">
      <a class="text-title">Startup Landscapes</a>
      <span class="text-category">List startups by industry. Uses the Crunchbase API.</span>
    </div>
    <div class="label-bg"></div>
  </div>
</div>
</div>



<div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= link_to image_tag("pwblank.png"), "http://startups-mankindforward.herokuapp.com/", :target => "http://startups-mankindforward.herokuapp.com/" %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">My Personal Website</a>
          <span class="text-category"></span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>



<h1 class="projects-header">Images for <span style="color:#1ba5df;font-size:45px">Mobogenie</span>,<br>an Android Mobile App Store</h1>



  <div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <div class="mgscreenshot"><%= image_tag("androidphone_college.jpg") %></div>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Screenshot of College-themed App Collection Cover</a>
          <span class="text-category">Image I designed for the college-themed app collection featured in Mobogenie.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>

  <div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <div class="mgscreenshot"><%= image_tag("androidphone_zombiesuperhero.jpg") %></div>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Screenshot of Game App Collection Covers</a>
          <span class="text-category">Images I designed for 2 collections I curated, featured on the game collections page in Mobogenie.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>


<div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("College_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">App Collection for College Students</a>
          <span class="text-category">Cover for a collection of apps for the college student eager to succeed and have fun at the same time.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>
  <div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("SuperheroGames_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Superhero-Themed Games Collection</a>
          <span class="text-category">Cover for a collection featuring superhero favorites in games such as MARVEL War of Heroes.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>


  <div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("ZombieGames_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Zombie-Themed Games Collection</a>
          <span class="text-category">Cover for a collection of games full of walking dead.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>


<div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("Music_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Music Streaming Apps Collection</a>
          <span class="text-category">Cover for a collection featuring popular music streaming apps.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>

  <div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("BrainTraining_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Brain Training App Collection</a>
          <span class="text-category">Collection cover featuring brain training and mental puzzle games.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>

<div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("SpaceApps_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Space-Related App Collection</a>
          <span class="text-category">Cover for an astronomy collection featuring apps such as NASA, Night Sky Tools, and Hubble Space Center.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>

<div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("SpaceGames_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Space-Themed Games Collection</a>
          <span class="text-category">Cover for a collection featuring games whose worlds' take place in space.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>

<div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("MichaelJackson_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Michael Jackson Apps and Games Collection</a>
          <span class="text-category">Cover for a collection celebrating the King of Pop.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>


  <div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("YOLO_FelixB_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Goal Setting Apps Collection</a>
          <span class="text-category">Cover for a collection of bucket list apps in the spirit of YOLO, you only live once.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>

<div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("Fashion_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Fashion Apps Collection</a>
          <span class="text-category">Cover for a collection featuring apps related to shopping, clothing marketplaces, and fashion news.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>





  <div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= image_tag("DisneyGames1_706x300.jpg") %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Disney Games Collection</a>
          <span class="text-category">Collection cover featuring disney games.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>


</div>