<!DOCTYPE html>
<html>
<head>
  <title>Mel Zhang</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Need the following link in order to see the font-awesome icon on every page -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="dist/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="dist/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="dist/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- navbar -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
</div>
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-logo" href="<%= root_url %>">Mel Zhang</a>
      <!-- <div class="aboutmeicon">
        <%= link_to image_tag('aboutmeicon.jpg'), 'http://about.me/melzhang', target: "_blank" %>
      </div> -->
      <ul class="nav">
        <li class="links button"><a href="<%= root_path %>#About">About</a></li>
        <li class="links button"><a href="<%= root_path %>#Projects">Projects</a></li>
        <!-- <li class="links"><a href="<%= root_path %>#Projects">Interests</a></li> -->
        <!-- <li class="links"><%= link_to "Contact", new_contact_path %></li> -->
      </ul>
      </div>
    </div>
</div>
<!-- navbar end -->





<div class="footer">
  <div class="footer-text">
    <p><%= link_to "Mel Zhang", "http://about.me/melzhang" %> &copy;<%= Time.now.year%></p>
  </div>
  <div class="footer-linkedin">
      <a href="http://www.linkedin.com/in/melzhang/" style="color: white" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
  </div>
  <div class="footer-twitterbird">
    <%= link_to image_tag('twitter-m.jpg', :alt => "https://twitter.com/zeemelon"), "https://twitter.com/zeemelon", :target => "_blank" %>
  </div>
  <!-- <div class="footer-bucketlistly">
    <%= link_to image_tag('bucketlistly-white.jpg', :alt => "http://www.bucketlistly.com/users/zeemelon"), "http://www.bucketlistly.com/users/zeemelon", :target => "_blank" %>
  </div> -->
  <div class="footer-github">
    <a href="https://github.com/z22" style="color: white" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
  </div>
</div>

<%= yield %>


</body>


</html>
