<!DOCTYPE html>
<html>
<head>
  <title>Mel Zhang</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Need the following link in order to see the font-awesome icon on every page -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="dist/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="dist/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="dist/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- navbar -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
</div>
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-logo" href="<%= root_url %>">Mel Zhang</a>

      <div class="iconlinks">
        <div class="linkedin"><%= link_to image_tag("mylinkedin.jpg"), "http://www.linkedin.com/in/melzhang/", :target => "_blank" %></div>
        <a href="https://github.com/z22" style="color: #8A8AE6" target="_blank"><i class="fa fa-github-square fa-4x"></i></a>
        <a href="mailto:mel.zhang@wellesley.edu" style="color: #8A8AE6" target="_blank"><i class="fa fa-envelope fa-4x"></i></a>
      </div>

      <ul class="nav">
        <li class="links button"><a href="about/index">About Me</a></li>
        <li class="links button"><a href="<%= projects_path %>">Projects</a></li>
        <!-- <li class="links"><a href="<%= root_path %>#Projects">Interests</a></li> -->
        <!-- <li class="links"><%= link_to "Contact", new_contact_path %></li> -->
      </ul>
      </div>
    </div>
</div>
<!-- navbar end -->





<!-- <div class="footer">
  <div class="footer-text">
    <p><%= link_to "Mel Zhang", "" %> &copy;<%= Time.now.year%></p>
  </div> -->

</div>

<%= yield %>


</body>


</html>
